<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card" style="width: 18rem;">
  <img src=<%= @url + bookmark.movie.poster_url%> class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <p class="card-text"><%= bookmark.comment %></p>
    <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }   %>
  </div>
</div>
<% end %>


<%= link_to "Bookmarks", new_list_bookmark_path(@list)  %>
<%= link_to "delete", list_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%= link_to "Back to my Lists", lists_path  %>
